<ion-content>

  <div class="photo__img">
    <img src="/assets/photos/{{ photo.filename }}" alt="{{ photo.alt }}" />
  </div>

  <button class="btn btn--primary photo__gridBtn" [routerLink]="['/photo-grid']">
    Photo Grid
  </button>

  <div class="photo__selected">
    <span>
      {{ data.userAnswers[questionId].length }}
    </span>

    <div class="photo__selected__imgs" *ngFor="let selectedPhotos of data.userAnswers[questionId]">
      <img src="/assets/photos/{{ photos[selectedPhotos].filename }}" alt="{{ photos[selectedPhotos].alt }}" />
    </div>

  </div>

  <div class="photo__footer">
    <div class="">
      <button class="btn btn--secondary btn--round" (click)="btnChange('previous')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button class="btn btn--secondary" (click)="btnAdd()">
        <span *ngIf="data.userAnswers[questionId].indexOf(photoId) === -1">Add</span>
        <span *ngIf="data.userAnswers[questionId].indexOf(photoId) >= 0">Remove</span>
      </button>
      <button class="btn btn--secondary btn--round" (click)="btnChange('next')">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>

    <div class="">
      {{ question.copy }}<br />
      Pick {{ n2wConverter.toWords(question.numberOfPhotos) }}
    </div>
  </div>


</ion-content>
