.photo__img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  
  img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.photo__gridBtn {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
}

.photo__selected {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;

  span {
    background-color: #cc2e3b;
    border-radius: 50%;
    color: white;
    height: 16px;
    width: 16px;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}

.photo__footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 4px;
}
