.photo__img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  
  img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.photo__gridBtn {
  background: none;
  color: white;
  font-size: 52px;
  left: 10px;
  opacity: .75;
  outline: none;
  padding: 0;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.photo__selected {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;

  span {
    background-color: #cc2e3b;
    border-radius: 50%;
    color: white;
    height: 16px;
    width: 16px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: -5px;
    top: -5px;
  }

  &__imgs {
    height: 50px;
    position: relative;
    width: 50px;

    img {
      display: block;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
