<ion-content>

  <div class="photo__img" (swipeleft)="btnChange('next')" (swiperight)="btnChange('previous')">
    <img src="/assets/photos/{{ photo.filename }}" alt="{{ photo.alt }}" />
  </div>

  <button class="photo__gridBtn" [routerLink]="['/photo-grid']">
    <ion-icon ios="md-apps" md="md-apps" name="apps"></ion-icon>
  </button>

  <div class="photo__selected">
    <span>
      {{ data.userAnswers[questionId].length }}
    </span>

    <div class="photo__selected__imgs" *ngFor="let selectedPhotos of data.userAnswers[questionId]">
      <img src="/assets/photos/{{ photos[selectedPhotos].filename }}" alt="{{ photos[selectedPhotos].alt }}" />
    </div>

  </div>

  <div class="screenFooter">
    <div class="screenFooter__buttonGroup">
      <button class="btn btn--secondary btn--round" (click)="btnChange('previous')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button class="btn btn--primary" (click)="btnAdd()">
        <span *ngIf="data.userAnswers[questionId].indexOf(photoId) === -1">Add</span>
        <span *ngIf="data.userAnswers[questionId].indexOf(photoId) >= 0">Remove</span>
      </button>
      <button class="btn btn--secondary btn--round" (click)="btnChange('next')">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>

    <div class="screenFooter__question">
      <span [innerHTML]="preventOrphans(question.copy)"></span>
      <span class="screenFooter__question__direction">Pick {{ n2wConverter.toWords(question.numberOfPhotos) }}</span>
    </div>
  </div>


</ion-content>
