.foregroundCopy {
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px 28px;
  
  h2 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }

  p, blockquote {
    max-width: 320px;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin: 10px 0;
  }

  cite {
    max-width: 320px;
    font-size: 14px;
    text-align: center;
    margin: 5px 0 10px;
  }

}
