<ion-content>
  <div class="backgroundImgs">
    <img *ngFor="let photo of photos.slice(4,8)" src="/assets/photos/{{ photo.filename }}" alt="{{ photo.alt }}" />
  </div>

  <div class="foregroundCopy">
    <h2>What next?</h2>

    <p *ngFor="let p of followup.intro">{{ p }}</p>

    <blockquote>
      {{ followup.passage.text }}
    </blockquote>
    <cite>{{ followup.passage.ref }}</cite>

    <button class="btn btn--primary" (click)="btnEnd()">
      That's all for now
    </button>
  </div>
</ion-content>
