$greenLight: #a8e100;
$greenDark: #709405;
$purpleLight: #bf83f8;
$purpleDark: #8400ff;

@mixin greenGradient {
  background-image: linear-gradient(-180deg, $greenLight 0%, $greenDark 100%);
}

@mixin purpleGradient {
  background-image: linear-gradient(-180deg, $purpleLight 0%, $purpleDark 100%);
}
