.review {
  align-items: center;
  display: flex;
  grid-column-gap: 10px;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  justify-content: space-between;
  padding: 0 10px;
  width: 100vw;

  &__images {
    display: flex;
    height: 80vw;
    overflow: auto hidden;
  }

  &__image {
    height: 80vh;
    padding: 0 10px;

    img {
      height: 80vw;
      max-width: initial;
    }
  }
}
