<ion-content>

  <div class="review">

    <button class="review__btn btn btn--round btn--secondary" routerLink="/photo">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <div *ngFor="let i of answers[questionId]" class="review__image">
      <img src="/assets/photos/{{ photos[i].filename }}" alt="{{ photos[i].alt }}" />
    </div>

    <button class="review__btn btn btn--round btn--primary" (click)="btnNextQuestion()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>

  </div>

  <div class="screenFooter">
    <ion-icon class="icon" name="chatboxes"></ion-icon>
    <div class="screenFooter__question">
      {{ question.discussion }}
    </div>
  </div>

</ion-content>
