<ion-content>

  <button class="review__btn review__btn--back btn btn--round btn--secondary" routerLink="/photo">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <div class="review-images">
    <div *ngFor="let i of answers[questionId]" class="review-images__img">
      <img src="/assets/photos/{{ photos[i].filename }}" alt="{{ photos[i].alt }}" />
    </div>
  </div>

  <button class="review__btn review__btn--forward btn btn--round btn--primary" (click)="btnNextQuestion()">
    <ion-icon name="arrow-forward"></ion-icon>
  </button>

  <div class="screenFooter">
    <div class="screenFooter__question">
      {{ question.discussion }}
    </div>
  </div>

</ion-content>
