.review {
  display: flex;
  align-items: center;
  width: 100vw;
  white-space: nowrap;
  overflow-y: hidden;
  overflow: auto;
  height: 100vh;
  padding: 25px;

  &__image {
    margin: 0 25px;
  }

  img {
    height: 80vh;
    width: auto;
    max-width: none;
  }
}
