.review-images {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  padding: 95px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &__img {
    margin: 2px;
    height: 80vh;
    cursor: pointer;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    border-radius: 4px;
    margin: 0 95px;
    
    width: calc(100vw - 190px);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }
  }
  
  img {
    box-shadow: 1px 1px 10px #999;
  }
}

.review__btn {
  position: fixed;
  margin: 25px;
  top: calc(50% - 22px);
  z-index: 1;

  &--forward {
    right: 0;
  }
}
