<ion-content>

  <div class="photo-grid">

    <div *ngFor="let photo of photos">
      <button class="" (click)="btnPhoto(photo.id)" class="photo-grid__button">
        <img src="/assets/photos/{{ photo.filename }}" alt="{{ photo.alt }}" />
      </button>
    </div>

  </div>

  <div class="screenFooter">
    <div class="screenFooter__question">
      <span [innerHTML]="preventOrphans(question.copy)"></span>
      <span class="screenFooter__question__direction">
        Pick {{ n2wConverter.toWords(question.numberOfPhotos) }}
      </span>
    </div>
  </div>

</ion-content>
