@import '../../assets/mixins/colors.scss';

.photo-grid {
  @include blueGradient();
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;

  &__button {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;

    img {
      display: block;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.photo__footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 4px;
}
