// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.btn {
  align-items: center;
  border-radius: 22px;
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  min-width: 210px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;

  & ion-icon {
    font-size: 20px;
  }
  
  &--primary {
    background-color: #cbdea2;
  }

  &--secondary {
    background-color: #a9a6de;
  }

  &--translucent {
    
  }

  &--round {
    width: 44px;
    min-width: auto;
  }
}
