// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typograph\y.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'raleway';
  src: url('/assets/font/raleway-bold-webfont.woff2') format('woff2'),
       url('/assets/font/raleway-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('/assets/font/raleway-regular-webfont.woff2') format('woff2'),
       url('/assets/font/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*, button, input {
  font-family: Raleway, sans-serif;
}

.btn {
  align-items: center;
  border-radius: 22px;
  display: flex;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  min-width: 210px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;

  & ion-icon {
    font-size: 20px;
  }
  
  &--primary {
    background-color: #cbdea2;
  }

  &--secondary {
    background-color: #a9a6de;
  }

  &--translucent {
    
  }

  &--round {
    width: 44px;
    min-width: 44px;
  }
}


.screenFooter {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  padding: 4px;

  .icon {
    font-size: 26px;
    margin-bottom: 10px;
    position: absolute;
    top: -15px;
  }

  &__buttonGroup {
    align-items: center;
    display: flex;
    margin-top: -26px;
    justify-content: space-around;
  }

  &__question {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding: 4px;

    span {
      display: block;
      font-weight: normal;
    }
  }
}


.backgroundImgs {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: 0;

  img {
    display: block;
    filter: blur(5px);
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: scale(1.1);
    width: 100%;
    animation-name: cf;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 16s;
  }
}

.foregroundCopy {
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

@keyframes cf {
  0%   {opacity:1;}
  17%  {opacity:1;}
  25%  {opacity:0;}
  92%  {opacity:0;}
  100% {opacity:1;}
}

.backgroundImgs img:nth-of-type(1) {
  animation-delay: 12s;
}
.backgroundImgs img:nth-of-type(2) {
  animation-delay: 8s;
}
.backgroundImgs img:nth-of-type(3) {
  animation-delay: 4s;
}
.backgroundImgs img:nth-of-type(4) {
  animation-delay: 0;
}
