<ion-content>
  <div class="backgroundImgs">
    <img *ngFor="let photo of photos.slice(0,4)" src="/assets/photos/{{ photo.filename }}" alt="{{ photo.alt }}" />
  </div>

  <div class="foregroundCopy">
    <h1>Have you ever <em>wondered?</em></h1>

    <div>
      <h3><em>3</em> Questions</h3>
      <h3><em>48</em> Photos</h3>
      <h3><em>∞</em> Conversations</h3>
    </div>

    <div class="routes">
      <button *ngFor="let topic of topics; let i = index" class="routes__button" (click)="btnRoute(i)">
        <ion-icon name="{{ topic.icon }}"></ion-icon>
        {{ topic.name }}
      </button>
    </div>
  </div>
</ion-content>
