.foregroundCopy {
  background-color: rgba(0,0,0, 0.2);
  color: white;
  justify-content: start;
}

.hyewTitle {
  border-bottom: 1px solid white;
  max-width: 400px;
  padding: 25px 25px 0;
  text-align: center;
  text-transform: uppercase;
  width: 80%;

  &__logo {
  }

  &__copy {
    font-weight: bold;
    position: relative;
    text-align: left;

    em {
      display: block;
      text-align: right;
    }
  }
}

h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;

  em {
    display: block;
    font-size: 50px;
    font-style: normal;
  }
}

.routes {
  bottom: 0;
  padding: 5px 5px 15px;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  justify-items: center;

  &__button {
    border-radius: 5px;
    font-size: 9px;
    font-weight: bold;
    height: 76px;
    text-align: center;
    text-transform: uppercase;
    width: 76px;

    background-image: linear-gradient(-180deg, #A8E100 0%, #709405 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    color: white;

    ion-icon {
      display: block;
      font-size: 40px;
      margin: 0 auto 2px;
    }
  }
}
